
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// :::::::::::: CUSTOM ::::::::::::

$brandCyan: #00D3EE;
$brandGreen: #5CB860;
$brandYellow: #FFA21A;
$brandRed: #F55A4E;
$brandPurple: #9C27B0;
$brandBlue: #2196F3;
$brandGray: lightgray;

// ::: proj colours :::
$project1: #C4E7D4;
$project2: #C4DACF;
$project3:#B9C0DA;
$projectHover: #998DA0;
