
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// :::::::::::: CUSTOM ::::::::::::

// ::: COLORS :::
// ::: brand colors :::
$brandCyan: #00D3EE;
$brandGreen: #5CB860;
$brandYellow: #FFA21A;
$brandRed: #F55A4E;
$brandPurple: #9C27B0;
$brandBlue: #2196F3;
$brandGray: lightgray;

// ::: header animation colors :::
$headerAnimationCyan: rgba(0, 211, 238,0.7);
$headerAnimationGreen: rgba(92, 184, 96,0.7);
$headerAnimationYellow: rgba(255, 162, 26,0.7);
$headerAnimationRed: rgba(245, 90, 78,0.7);
$headerAnimationPurple: rgba(156, 39, 176,0.7);
$headerAnimationBlue: rgba(33, 150, 243,0.7);
$headerAnimationGray: rgba(211,211,211, 0.7);

// ::: trasp colors :::

$transpCyan: rgba(0, 211, 238,0.6);
$transpGreen: rgba(92, 184, 96,0.6);
$transpYellow: rgba(255, 162, 26,0.6);
$transpRed: rgba(245, 90, 78,0.6);
$transpPurple: rgba(156, 39, 176,0.6);
$transpBlue: rgba(33, 150, 243,0.6);
$transpGray: lightgray;

// ::: projects colors :::
// $project1: #C4E7D4;
// $project2: #C4DACF;
// $project3:#B9C0DA;
// $projectHover: #998DA0;

// temp:

// MOBILE - 360px
// TABLET - 360px - 768px
// LAPTOP - 768px - 1024XP
// DESKTOP 1024XP


  // :::::::: MEDIA QUERIES :::::::
//
//   // mobile small - 320px
//   @media screen and (max-width: 320px) {
//    // background: cyan;
//   }
//
//   // mobile medium - 375px
//   @media screen and (min-width: 321px) and (max-width: 375px) {
//    // background: red;
//   }
//
//   // mobile large - 425px
//   @media screen and (min-width: 376px) and (max-width: 425px) {
//    // background: green;
//   }
//
//   // tablet - 768px
//   @media screen and (min-width: 426px) and (max-width: 768px) {
//    // background: yellow;
//   }
//
//   // laptop - 1024px
//   @media screen and (min-width: 767px) and (max-width: 1024px) {
//    // background: blue;
//   }
//
//   // laptop large - 1440px
//   @media screen and (min-width: 1025px) and (max-width: 1440px) {
//    // background: lightcoral;
//   }
//
//   // 4k - 2560px
//   @media screen and (min-width: 1441px) and (max-width: 2560px) {
//    // background: lightcyan;
//   }
//
//   // over 4k
//   @media screen and (min-width: 2561px) {
//    // background: white;
//   }
//
// }
