
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// custom
@import 'partials/animation';
@import 'partials/common';
@import 'partials/header';
@import 'partials/about';
@import 'partials/merits';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/blog';
@import 'partials/contact';
@import 'partials/footer';

//ANIMATIONS
.animated {
  position: relative;
}

/*il contenuto di BeforeScroll è nascosto di default*/
.beforeScroll {
  display: none;
}

/*Dopo aver scrollato (vedi app.js - riga 57) questa classe rende il contenuto del div visibile*/
.afterScroll {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
  animation: fadeEffect 2s;
  /* tempo di animazione corretto: */
  /* animation: fadeEffect 1.25s; */
}

@keyframes fadeEffect {
  0% { opacity: 0; bottom: -150px; }
  100% { opacity: 1; bottom: 0px; }
}

@keyframes skillBars {
  0% { transform-origin: bottom; transform: scaleY(0); color: white;}
  70%  { transform-origin: bottom; transform: scaleY(0.7); color: white;}
  100% { transform-origin: bottom; transform: scaleY(1); color: black;}
}

// animations wrapper heights - MIND MEDIAQUERIES ! ! !
#aboutTitle {
  height: 220px;
}

#aboutDescription {
  margin-top: 50px;
  height: 170px;
}

#skillsTitle {
  margin-top: 75px;
  height: 70px;
}

#projectsTitle {
  margin-top: 75px;
  height: 50px;
}

#blogSection {
  height: 285px;
}
