
// :::::::::::::: ANIMATION ::::::::::::::

.blueDot {
  // fill: rgba(255, 255, 255, 0.8); JUST GRAY
  // fill: rgba(62, 130, 247, 0.8);
  fill: $brandBlue;
}

.grayDot {
  // fill: rgba(255, 255, 255, 0.8);
  fill: $brandGray;
}

.greenDot {
  // fill: rgba(255, 255, 255, 0.8); JUST GRAY
  // fill: rgba(45, 169, 79, 0.8);
  fill: $brandGreen;
}

.yellowDot {
  // fill: rgba(255, 255, 255, 0.8); JUST GRAY
  // fill: rgba(253, 189, 0, 0.8);
  fill: $brandYellow;
}

.redDot {
  // fill: rgba(255, 255, 255, 0.8); JUST GRAY
  // fill: rgba(237, 65, 45, 0.8);
  fill: $brandRed;
}

.purpleDot {
  // fill: rgba(255, 255, 255, 0.8);  JUST GRAY
  // fill: rgba(123, 70, 254, 0.8);
  fill: $brandPurple;
}

svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  transform: translateZ(0px);
}
