* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// :::::::::: COMMON TAGS ::::::::::

p {
  font-size: 18px;
  font-family: "Lato";
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
}

h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 200;
}

h2 {
  font-family: "Lato";
  font-size: 70px;
  line-height: 70px;

  span {
    display: block;
  }
}

h5 {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
}

// :::::::::: MARGINS ::::::::::

.mrgnTp50 {
  margin-top: 50px;
}

.mrgnLft100 {
  margin-left: 100px;
}

// :::::::::: COMMON CLASSESS ::::::::::

.myButton {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  font-family: "Lato";
  font-weight: 200;
  font-size: 16px;
  color: white;
}
