#contact {
  padding: 75px 0;
  height: 100%;
  width: 100%;
  color: black;
  font-family: "Lato";
  text-align: center;
  background: lightgray;

  .contactWrapper {
    width: 40%;
    height: 100%;
    margin: 0 auto;

    h2 {
      font-size: 40px;
    }

    p {
      margin: 25px 0;
    }

    .form-group {

      input,
      textarea {
        margin: 20px 0;
      }

    }

  }

}
