#contactSection {
  padding: 75px 0;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  color: white;
  background: black;

  .contactWrapper {
    height: 100%;
    margin: 0 auto;

    h2 {
      font-size: 40px;
    }

    p {
      width: 75%;
      margin: 50px auto;
      font-size: 22px;
      color: white;
    }

    .testWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .form-group {
        width: 90%;

        input,
        textarea {
          margin: 20px 0;
          border-radius: 0;
          border: 0;
          background: $brandGray;
          transition: 1s;
        }

        input:hover {
          color: black;
          background: $headerAnimationGray;
          transition: 1s;
        }
      }
    }

  }
}

// :::::::: MEDIA QUERIES :::::::

// mobile < 360px
@media screen and(max-width: 360px) {
  #contactSection {
    height: 1000px;

    .form-group {
      input,
      textarea {
        width: 90%;
      }
    }
  }
}

// TABLET small - 361px - 767px
@media screen and (min-width: 361px) and (max-width: 767px) {
  #contactSection {
    height: 1050px;

    .form-group {
      input,
      textarea {
        width: 90%;
      }
    }
  }
}

// TABLET/laptop - 768px - 1023px
// @media screen and (min-width: 768px) and (max-width: 1023px) {
//   .form-group {
//
//     input,
//     textarea {
//       min-width: 700px;
//     }
//   }
// }
