#headerSection {
  width: 100%;
  height: 100vh;
  color: white;
  background: black;
  position: relative;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Montserrat";

    h1 {
      span {
        font-weight: 400;
      }
    }
  }

  .arrowDown {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    font-size: 25px;
    color: white;
  }

  a:hover {
    color: red;
    transition: 1s;
  }
}
